
 <div class="container">
      <div class="row justify-content-center">
        <div class="col-5">
            <h3 class="b-primary text white p3">
              [{{model.user}}]  To Do List
            </h3>
            <div class="input-group">
              <!-- input attributunde #todoText kullanarak, bir this ya da input un this i ya da input un referansini temsil eden dom uzerinden onu direk referansina erisen todoText isminde bir variable haline getirerek onu todoText uzerinden, button daki click methodunun parametresine verebilmemizi, ve attribute de input icini sifirlayabilmemizi sagliyor -->
              <input type="text" #todoText class="form-control">
              <div class="input-group-appen">
                <!--   todoText.value=''; ile tiklandiktan sonra input ici sifirlansin demis oluyoruz-->
                   <!--   -->
                <button class="btn btn-primary" (click)="addItem(todoText.value); todoText.value='';">Add</button>
                <!--addItem mehtodunu nerde kullanacagiz tabi ki bu html imize karsilik gelen js-ts dosyamizda diger variable ve methodlari kullandigmz yerde... -->
                <!--ng-click gelince tab a basarsak button un onclick methodunu getiriyor zaten -->
              </div>
            </div>

            <br>
                   
                    <div class="custom-control custom-checkbox my-3">
                      <input type="checkbox" [(ngModel)]="isDisplay"  class="custom-control-input" name=""  id="displayAll"  />
                      <label for="displayAll">Display All</label>  
                    </div>


            <table class="table table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>Description</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- her for dongusu dondugunde...yeni bir tr olusturuyor!! -->
                  <tr *ngFor="let todo of getItemNotCompleted(); let i = index"><!-- index i de berabernde geliyor...   -->
                    <td>{{i+1}}</td>
                    <td>{{todo.description}}</td>
                    <td>{{todo.completed ? 'Completed' : 'Not completed'}}</td>
                    <td  [ngSwitch]="todo.completed" >
                      <span *ngSwitchCase="true"> YES</span>
                      <span *ngSwitchCase="false"> NO</span>
                    </td>
                    <td>
                      <input type="checkbox" [(ngModel)]="todo.completed"  />
                    </td>
                  </tr>
                </tbody>
                <hr>
               
               <h3> [{{getUserName()}}]  To Do List </h3> <br>

                <tbody>
                  <!-- her for dongusu dondugunde...yeni bir tr olusturuyor!! -->
                  <tr *ngFor="let todo of getItems(); let j = index;">
                    <td>{{j+1}}</td>
                    <td>{{todo.description}}</td>
                    <td>{{todo.completed ? 'Done' : 'Not Done'}}</td>
                    <td  [ngSwitch]="todo.completed" >
                      <span *ngSwitchCase="true"> JA</span>
                      <span *ngSwitchCase="false"> NEI</span>
                    </td>
                     <td>
                      <input type="checkbox" [(ngModel)]="todo.completed"  ng />
                    </td>
                  </tr>
                </tbody>
                </table>
        </div>
      </div>
   </div>
<router-outlet />
